In [ ]:
_list = [1, 2, 3, "a"]
_tuple = (1, 2, 3, "a")
_dict = {}

In [ ]:
_list = [1,2,3,4,5]
sum(_list);
sum_val = 0
for x in _list:
    sum_val += x
print(sum_val)

In [ ]:
[mark1,mark2,mark3] = [1,2,3]
students = {"name1":mark1, "name2":mark2, "name3":mark3}
print(students.keys())
print(students.values())

In [ ]:
arr = [[1,2,3],[4,5,6],[7,8,9]]
ans = [g**2 for i in arr for g in i ]
print(ans)

In [ ]:
a = [1,2,3,3,4,3]
a.pop(3)
print(a)

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

Design and implement a Complete University Management System in Python using SQLite and functions (def) with the following requirements:
1. Database (SQLite)
Create the following tables:
Departments (dept_id, dept_name, hod_name)
Students (student_id, name, class, dept_id)
Subjects (subject_id, subject_name, dept_id)
Marks (mark_id, student_id, subject_id, marks)

Insert:
At least 2 departments, 5 students, 4 subjects, and marks for each student in all subjects.

In [3]:
cursor.execute("""
    CREATE TABLE Departments(
        dept_id INTEGER,
        dept_name TEXT,
        hod_name TEXT
    )
""")

cursor.execute("""

    CREATE TABLE Students(
        student_id INTEGER,
        name TEXT,
        class INTEGER,
        dept_id INTEGER
    )
""")

cursor.execute("""

        CREATE TABLE Subjects(
        subject_id INTEGER,
        subject_name TEXT,
        dept_id INTEGER
    )
""")

cursor.execute("""

        CREATE TABLE Marks(
        mark_id INTEGER,
        student_id INTEGER,
        subject_id INTEGER,
        marks
    )
""")

In [8]:
departments = ["Engineering","Arts"]
hod = ["misterA", "misterB"]

students = ["student_1", "student_2", "student_3", "student_4", "student_5"]
subjects = ["Math", "Science", "English", "History"]
marks = range(40, 100, 3)

dept_data = list(zip(range(2),departments,hod))
student_data = list(zip(range(5), students, [1,1,2,2,3],[0,1,0,1,0]))
subject_data = list(zip(range(4), subjects, [0,0,1,1]))
mark_data = list(zip(range(20), students * 4, list(range(4)) * 5, marks))
print(mark_data)

[(0, 'student_1', 0, 40), (1, 'student_2', 1, 43), (2, 'student_3', 2, 46), (3, 'student_4', 3, 49), (4, 'student_5', 0, 52), (5, 'student_1', 1, 55), (6, 'student_2', 2, 58), (7, 'student_3', 3, 61), (8, 'student_4', 0, 64), (9, 'student_5', 1, 67), (10, 'student_1', 2, 70), (11, 'student_2', 3, 73), (12, 'student_3', 0, 76), (13, 'student_4', 1, 79), (14, 'student_5', 2, 82), (15, 'student_1', 3, 85), (16, 'student_2', 0, 88), (17, 'student_3', 1, 91), (18, 'student_4', 2, 94), (19, 'student_5', 3, 97)]

In [9]:
cursor.executemany("INSERT INTO Departments(dept_id, dept_name, hod_name) VALUES (?, ? , ?)", dept_data)
cursor.executemany("INSERT INTO Students(student_id, name, class, dept_id) VALUES (?, ? , ?, ?)", student_data)
cursor.executemany("INSERT INTO Subjects(subject_id, subject_name, dept_id) VALUES (?, ? , ?)", subject_data)
cursor.executemany("INSERT INTO Marks(mark_id, student_id, subject_id, marks) VALUES (?, ? , ?, ?)", mark_data)


2. Python Functions
Implement the following:
def add_student(name, class, dept_id)
def add_subject(subject_name, dept_id)
def add_marks(student_id, subject_id, marks)
def show_students() → Display students with department name (JOIN)
def show_subjects() → Display all subjects with their department
def show_marks() → Display each student’s marks with subject names (JOIN)
def student_report(student_id) → Show subject-wise marks, total, average, grade, pass/fail
def toppers() → Show topper in each subject + overall topper
def department_summary() → Show average marks department-wise (JOIN + GROUP BY)
def unique_subjects() → Return unique subjects as a set

In [14]:
def add_student(name, class_name, dept_id):
    cursor.execute("INSERT INTO Students(name, class, dept_id) VALUES (? , ?, ?)", (name, class_name, dept_id))
    
def add_subject(subject_name, dept_id):
    cursor.execute("INSERT INTO Subjects(subject_name, dept_id) VALUES (? , ?)", (subject_name, dept_id))

def add_marks(student_id, subject_id, marks):
    cursor.execute("INSERT INTO Marks(student_id, subject_id, marks) VALUES (?, ? , ?, ?)", (student_id, subject_id, marks))


def show_students():
    return cursor.execute("""
        SELECT st.student_id, st.name, st.class, d.dept_name
        FROM Students st
        INNER JOIN Departments d ON st.dept_id = d.dept_id
    """).fetchall()

def show_subjects():
    return cursor.execute("""
        SELECT sb.subject_id, sb.subject_name, d.dept_name
        FROM Subjects sb
        INNER JOIN Departments d ON sb.dept_id = d.dept_id
    """).fetchall()
def show_marks():
    return cursor.execute("""
        SELECT m.student_id, sb.subject_name, m.marks
        FROM Marks m
        INNER JOIN Subjects sb ON m.subject_id = sb.subject_id
    """).fetchall()


def student_report(student_id):
    #Show subject-wise marks, total, average, grade, pass/fail
     
    return cursor.execute("""
        SELECT m.student_id FROM Marks m
    """).fetchall()
    return cursor.execute("""
        SELECT m.marks, TOTAL(m.marks), AVG(m.marks)
        FROM Marks m where m.student_id = 1
    """).fetchall()

def toppers():
    #→ Show topper in each subject + overall topper 
    pass
def department_summary():
    #→ Show average marks department-wise (JOIN + GROUP BY) 
    pass
def unique_subjects():
    #→ Return unique subjects as a set
    pass

In [15]:
show_students()

[(0, 'student_1', 1, 'Engineering'),
 (1, 'student_2', 1, 'Arts'),
 (2, 'student_3', 2, 'Engineering'),
 (3, 'student_4', 2, 'Arts'),
 (4, 'student_5', 3, 'Engineering')]

In [16]:
show_subjects()

[(0, 'Math', 'Engineering'),
 (1, 'Science', 'Engineering'),
 (2, 'English', 'Arts'),
 (3, 'History', 'Arts')]

In [17]:
show_marks()

[('student_1', 'Math', 40),
 ('student_2', 'Science', 43),
 ('student_3', 'English', 46),
 ('student_4', 'History', 49),
 ('student_5', 'Math', 52),
 ('student_1', 'Science', 55),
 ('student_2', 'English', 58),
 ('student_3', 'History', 61),
 ('student_4', 'Math', 64),
 ('student_5', 'Science', 67),
 ('student_1', 'English', 70),
 ('student_2', 'History', 73),
 ('student_3', 'Math', 76),
 ('student_4', 'Science', 79),
 ('student_5', 'English', 82),
 ('student_1', 'History', 85),
 ('student_2', 'Math', 88),
 ('student_3', 'Science', 91),
 ('student_4', 'English', 94),
 ('student_5', 'History', 97)]

In [18]:
student_report(1)

[(None, 0.0, None)]